<!-- <div class="col-lg-12" align="center" style="background-color: #343a40;
padding-bottom: 1px;
border-radius: 7px 7px 7px 7px;">
<h4 align="center" style="color: antiquewhite">Leave Request</h4>
</div>
<br>
<form [formGroup]="leaveRequestForm" (ngSubmit)="addLeaveRequest(leaveRequest)">
        <div class="row">
            <div class="col-lg-4">
        <div class="form-group">
            <label >Application Date:<span class="tx-danger">*</span></label>
            <input type="date" formControlName="applicationDate" class="form-control" [(ngModel)="vacationService.currentLeaveRequest.applicationDate" />
           
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label for="applicationNo">Application No:<span class="tx-danger">*</span></label>
            <input type="applicationNo" formControlName="applicationNo" class="form-control"  [(ngModel)="vacationService.currentLeaveRequest.applicationNo"/>
           
        </div>
    </div>
    <div class="col-lg-4">
            <div class="form-group">
                    <label for="user">User</label>
                   <select formControlName="user" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.user.errors }" [(ngModel)="vacationService.currentLeaveRequest.user">
                   <option selected label="Select User"></option>
                   <option *ngFor="let user of users" value="{{user.id}}">{{user.id}}-{{user.username}}</option>
                </select>
                    
                </div>
        </div>
        <div class="col-lg-4">
                <div class="form-group">
                        <label for="leaveType">Leave Type</label>
                       <select formControlName="leaveType" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.leaveType.errors }" [(ngModel)="vacationService.currentLeaveRequest.leaveType">
                       <option selected label="Select leave Type"></option>
                       <option value="Annual Leave">Annual Leave</option>
                       <option value="Casual Leave">Casual Leave</option>
                       <option value="Sick Leave">Sick Leave</option>
                    </select>
                       
                    </div>
            </div>
            <div class="col-lg-4">
                    <div class="form-group">
                        <label for="startDate">Start Date:<span class="tx-danger">*</span></label>
                        <input type="date" formControlName="startDate" class="form-control"
                         [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)="vacationService.currentLeaveRequest.startDate" />
                        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                            <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="form-group">
                            <label for="endDate">End Date:<span class="tx-danger">*</span></label>
                            <input type="date" formControlName="endDate" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)="vacationService.currentLeaveRequest.endDate"/>
                            <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                                <div *ngIf="f.endDate.errors.required">End Date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                            <div class="form-group">
                                    <label for="leaveStatus">Leave Status</label>
                                   <select formControlName="leaveStatus" class="form-control"
                                   [ngClass]="{ 'is-invalid': submitted && f.leaveStatus.errors }" [(ngModel)="vacationService.currentLeaveRequest.leaveStatus">
                                   <option selected label="Select Leave Status"></option>
                                   <option value="Full Day">Full Day</option>
                                   <option value="Half Day">Half Day</option>
                                   <option value="Short Leave">Short Leave</option>
                                </select>
                                    
                                </div>
                        </div>
                        <div class="col-lg-4" *ngIf="leaveRequestForm.controls['leaveStatus'].value=='Half Day'">
                                <div class="form-group">
                                        <label for="halfDay">Half Day</label>
                                       <select formControlName="halfDay" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.halfDay.errors }" [(ngModel)="vacationService.currentLeaveRequest.halfDay">
                                       <option selected label="Select Leave Status"></option>
                                       <option value="First Half">First Half</option>
                                       <option value="Second Half">Second Half</option>
                                    </select>
                                        <div *ngIf="submitted && f.halfDay.role" class="invalid-feedback">
                                            <div *ngIf="f.halfDay.errors.required">Leave Status is required</div>
                                        </div>
                                    </div>
                            </div>
    </div >
    <div class="row">
            <div class="col-lg-6">
                    <div class="form-group">
                        <label for="reason">Reason:</label>
                        <textarea type="text" formControlName="reason" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                         [(ngModel)="vacationService.currentLeaveRequest.reason"></textarea>
                        <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
                            <div *ngIf="f.reason.errors.required">Reason is required</div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-6">
                    <div class="form-group">
                        <label for="replacementNote">Replacement Note:</label>
                        <textarea type="text" formControlName="replacementNote" class="form-control" 
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)="vacationService.currentLeaveRequest.replacementNote" ></textarea>
                        <div *ngIf="submitted && f.replacementNote.errors" class="invalid-feedback">
                            <div *ngIf="f.replacementNote.errors.required">Replacement Note is required</div>
                        </div>
                    </div>
                </div>

    </div>
    <div class="row" style="float: right;">
        <div class="col-lg-12" >
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary" style="background: #343a40;;
            border-color: #ced4da;" [routerLink]="['/leave_requests']" routerLinkActive="router-link-active" >Cancel</button>
            
        </div>
    </div>
    </div>
    </form> -->